<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
    <style>

    .topnav a {
  float: left;
  color: #838383;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {

}

.topnav a.active {
  background-color: #F7F7F7;
  border-radius: 30px;
}

</style>
<title>Hello, world!</title>
  </head>
  <body bgcolor="red">
  	<div class="container-fluid" style="background-color: #F5F7FB; padding-top: 15px;">
  		<div class="row" >

  	 <div class="col-lg-3 col-xs-12" style="font-family: RotondaC"> <h2>RoadRelay</h2> </div>
  	 <div class="col-lg-7"></div>
  	 <div class="col-lg-2" style="text-align: right;"><img src="menu.png" style="width: 26px;"></div>
  	</div>
  </div>
  	
  	<div class="container" style="background-color: white; padding-top: 20px;">
  		<h1 style="color: #52C4B9">TRACK YOUR CHALLAN</h1>
  		<img src="lines.png" style="width: 428px;">
  		<br>
  		<br>
  		<div class="topnav">
  <a class="active" href="#home">All</a>
  <a href="#news">D/L</a>
  <a href="#contact">Hyundai i10</a>
  <a href="#about">Honda City</a>
		</div>
		<br>
		<br><br><br>
    <div>
      {{#each data}}
		<div class="row" style="background-color: #F8F8F8; padding: 19px;">

  	 <div class="col-lg-6 col-xs-12" style="background-color: #F8F8F8"> <span  style="color: #3A3A3A;font-size: 140%;"> <b>{{data.challan_id}}</b> </span> <br><span style="color: #575757;font-size: 120%"> {{data.veh_no}}  </span><br> <span style="color: #737373;font-size: 110%"> Vivek Vihar Police Station </span><br> <span style="color: #999999;font-size: 100%" >{{data.createdAt}}</span></div>
  	 <div class="col-lg-6" style="text-align: right;">Rs <span style="color: #F05F5F ; font-size: 240%;"> 250 </span>  <br>  Status: Not Piad</div>
  	</div>

  	<br>
    {{/each}}
	</div>
<script>

</script>

	</div>
  	</body>
</html>