@import url("https://fonts.googleapis.com/css?family=Montserrat:300");
.menu-btn {
  position: absolute;
  z-index: 3;
  right: 35px;
  top: 35px;
  cursor: pointer;
  transition: 0.5s;
}
.menu-btn .btn-line {
  width: 28px;
  height: 3px;
  margin: 0 0 5px 0;
  background: #fff;
  transition: 0.5s;
}
.mid-heading {
  font-size: 4rem;
  text-decoration: underline #52c4b9;
  margin-top: 0rem;
  margin-left: -10rem;
  color: white;
  font-family: "Montserrat";
}

h1 {
  font-size: 3rem;
  padding-left: 1rem;
}

#inputs {
  margin-left: 0rem;
  color: #fff;
  width: 22rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 1rem;
  outline: none;
  letter-spacing: 0.5rem;
}
input {
  background: transparent;
  border: none;
  border-bottom: 1.5px solid;
}

#inputs:nth-child() {
  margin-left: 0rem;
  color: BLACK;
}

.menu-btn.close {
  transform: rotate(180deg);
}
.menu-btn.close .btn-line:nth-child(1) {
  background: #f13953;
  transform: rotate(45deg) translate(5px, 5px);
}
.menu-btn.close .btn-line:nth-child(2) {
  background: transparent;
}
.menu-btn.close .btn-line:nth-child(3) {
  background: #f13953;
  transform: rotate(-45deg) translate(7px, -6px);
}
.lg-heading {
  z-index: 10;
}
.menu {
  position: fixed;
  top: 0;
  width: 100%;
  opacity: 0.95;
  visibility: hidden;
}
.menu.show {
  visibility: visible;
}
.menu-branding,
.menu-nav {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  float: left;
  width: 47%;
  height: 80vh;
  overflow: hidden;
}
.menu-nav {
  margin: 0;
  padding: 0;
  background: #243142;
  list-style: none;
  transition: 0.5s;
}
.menu-nav.show {
  transform: translate3d(0, 15%, 0);
}
.menu-branding {
  background: #52c4b9;
  transition: 0.5s;
  margin-left: 3%;
}
.menu-branding.show {
  transform: translate3d(0, 15%, 0);
}
.menu-branding .portrait {
  width: 250px;
  height: 250px;
  background: url("../img/me.jpg");
  border-radius: 50%;
  border: 5px solid #444;
}
.menu .nav-link {
  display: inline-block;
  position: relative;
  font-size: 30px;
  text-transform: uppercase;
  padding: 1rem 0;
  font-weight: 300;
  color: white;
  text-decoration: none;
  transition: 0.5s;
}
.menu .nav-link:hover {
  color: #f13953;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #4a535f;
  color: white;
  height: 100%;
  margin: 0;
  font-family: "Montserrat";
  line-height: 1.5;
}
body#bg-img {
  background: url(../img/bg.jpg);
  background-attachment: fixed;
  background-size: cover;
}

.logBtn {
  text-decoration: none;
  color: white;
  border: none;
  font-size: 1rem;
  float: right;
  padding: 0.55em;
  background: #52c4b9;
  border-radius: 50px;
  font-family: montserrat;
  letter-spacing: 0.5rem;
  font-weight: 900;
}

h1,
h2,
h3 {
  margin: 0%;
  font-weight: 350;
}

/* h1.lg-heading,
h2.lg-heading,
h3.lg-heading {
  font-size: 6rem;
} */

h1.sm-heading,
h2.sm-heading,
h3.sm-heading {
  margin-bottom: 2rem;
  padding: 0.5rem 1rem;
  border-radius: 30px;
  background: rgba(73, 73, 73, 0.5);
}

a {
  color: white;
  text-decoration: none;
}

header {
  position: fixed;
  z-index: 2;
  width: 100%;
}

.text-secondary {
  color: #f13953;
}

main {
  padding: 4rem;
  min-height: calc(100vh - 56px);
}
main .icon {
  margin-top: 1rem;
}
main .icon a {
  padding: 0.4rem;
}
main .icon a:hover {
  color: #f13953;
  transition: 0.5s;
}
main#home {
  overflow: hidden;
}
main#home h1 {
  margin-top: 20vh;
}

.about-info {
  display: grid;
  grid-template-areas: "bioimage bio bio";
  grid-template-columns: repeat(1fr);
  grid-gap: 30px;
}

.bio-image {
  grid-area: bioimage;
  margin: auto;
  border-radius: 50%;
  border: #f13953 3px solid;
}

.bio {
  background: #515151;
  grid-area: bio;
  font-size: 1.5rem;
  padding: 0.5rem;
  border-radius: 15px;
  border-bottom: 2px solid #f13953;
}

.projects {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 0.7rem;
}
.projects img {
  width: 100%;
  border: 3px solid #fff;
}
.projects img:hover {
  opacity: 0.59;
  border-color: #f13953;
  transition: 0.5s;
}

.boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 1rem;
}
.boxes div {
  font-size: 2rem;
  border: 3px solid white;
  padding: 1.5rem 2.5rem;
  margin-bottom: 3rem;
  transition: 0.5s;
}
.boxes div:hover {
  padding: 0.5rem 1.5rem;
  cursor: pointer;
  color: #f13953;
  background: #444;
}
.boxes div:hover span {
  color: white;
  transition: 0.5s;
}

.btn,
.btn-dark,
.btn-light {
  display: block;
  padding: 0.5rem 1rem;
  border: 0;
  margin-bottom: 0.3rem;
}
.btn:hover,
.btn-dark:hover,
.btn-light:hover {
  background: #f13953;
}

.btn-dark {
  background: black;
  color: #eee;
}

.btn-light {
  background: #c4c4c4;
  color: #333;
}

#main-footer {
  text-align: center;
  padding: 1rem;
  background: #2b2b2b;
  color: #f13953;
}

@media screen and (min-width: 1171px) {
  .projects {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (min-width: 769px) and (max-width: 1170px) {
  .projects {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 768px) {
  main {
    align-items: center;
    text-align: center;
  }
  main .lg-heading {
    line-height: 1;
    margin-bottom: 1rem;
    font-size: 4rem;
  }
  ul.menu-nav,
  div.menu-branding {
    float: none;
    width: 100%;
    height: 50vh;
    min-height: 0;
  }
  .menu-btn.close .btn-line:nth-child(1) {
    background: white;
  }
  .menu-btn.close .btn-line:nth-child(3) {
    background: white;
  }
  .about-info {
    grid-template-areas:
      "bioimage"
      "bio";
    grid-template-columns: 1fr;
  }
  .projects {
    grid-template-columns: repeat(2, 1fr);
  }
}

.capsule {
  margin-left: 20rem;
  margin-top: -5rem;
}

.capsule a:nth-child(even) {
  color: white;
  text-decoration: none;
  padding: 0.65rem 1.5rem;
  border-bottom-right-radius: 50px;
  border-top-right-radius: 50px;
  font-weight: 900;
  background: #4a535f;
}

.capsule a:nth-child(odd) {
  color: white;
  text-decoration: none;
  padding: 0.65rem 1.5rem;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  font-weight: 900;
  background: #52c4b9;
}

@media screen and (max-width: 500px) {
  main#home h1 {
    margin-top: 10vh;
  }
  .text-secondary {
    transition: 0.5s;
  }
  main {
    padding: 0.5rem;
  }
  .projects {
    grid-template-columns: 1fr;
  }

  .menu-branding,
  menu,
  .menu-btn,
  .lg-heading {
    display: none;
  }

  form {
    padding: 1rem;
  }

  .mid-heading {
    font-size: 2.35rem;
    text-decoration: underline #52c4b9;
    margin-top: -16rem;
    margin-left: 0rem;
    color: white;
    font-family: "Montserrat";
    margin-bottom: 7rem;
  }
  .menu-nav.show {
    height: 90vh;
    width: 90%;
    margin-left: 5%;
    margin-top: -20%;
  }

  .logBtn {
    text-decoration: none;
    color: white;
    border: none;
    font-size: 1rem;
    padding: 0.55em;
    background: #52c4b9;
    border-radius: 50px;
    font-family: montserrat;
    letter-spacing: 0.15rem;
    position: absolute;
    font-weight: 900;
    left: 60%;
    margin-top: 70%;
  }
  #inputs {
    margin-left: 0rem;
    color: #fff;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 1.35rem;
    outline: none;
    letter-spacing: 0.5rem;
    width: 18rem;
  }
  .capsule {
    position: absolute;
    margin: 0;
    margin-top: -16rem;
  }
}
